*{
    padding: 0;
    margin: 0;
}

@media (min-width: 520px) {

    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;

    }
}
img{
    width: 100px;
    height: 100px;
    line-height: 70px;
    float: left;
}

header{
    width: 100%;
    overflow: hidden;
    background: #fff;
    margin-bottom: 25px;
    box-shadow: 5px 5px 5px #8888;
}
.wrapper{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header .logo{
    color: green;
    font-size: 35px;
    line-height: 100px;
    float: left;
}
header nav{
    float: right;
    line-height: 100px;
}

h1 {
    color: green;
}
span{
    color: blue;
}

.zona1{
    padding: 25px;
    text-align: right;
}

.boton_susperior{
    background-color: #fff;
    color: gray;
    border: none;
    margin-right: 10px; 
    border-radius: 15px;
}

.idiomas a{
    text-decoration: none;
    color: gray;
    display: block;
    padding: 13px;
}

.idiomas{
    width: 185px;
    display: none;
}



.despliege:hover .idiomas{
    display: block;
}

.zona-1{
    margin-top: 120px;
}

#zona1_1 {
    padding: 15px;
    text-align: center;
    border-style: groove;
}

.boton_1{
    background-color: rgb(149, 214, 51);   
    border: none;
    padding: 10px 28px;
    color: #fff;
    box-shadow: 2px 2px 2px #8888;
    margin-right: 10px; 
    border-radius: 15px;
}

.boton_2{
    background-color: #fff;   
    box-shadow: 5px 5px 5px #8888;
    border: none;
    padding: 10px;
    color: rgb(94, 94, 255);
    margin-right: 10px; 
    border-radius: 15px;
}

.boton_3{
    background-color: #fff;
    box-shadow: 5px 5px 5px#8888;
    border: none;
    padding: 10px;
    color: blue;
    margin-right: 10px;
    border-radius: 15px;
}

.boton_1_1_1{
    background-color: #fff;
    color: grey;
    border: none;
    margin-right: 10px;
    background-image: url(Imagenes/Estadosunidos.svg);
    height: 150px;
    width: 150px;
}
.boton_1_1_2{
    background-color: #fff;
    color: grey;
    border: none;
    margin-right: 10px;
    background-image: url(Imagenes/Francia.png);
    height: 150px;
    width: 150px;
}
.boton_1_1_3{
    background-color: #fff;
    color: grey;
    border: none;
    margin-right: 10px;
    background-image: url(Imagenes/Alemania.png);
    height: 150px;
    width: 150px;
}
.boton_1_1_4{
    background-color: #fff;
    color: grey;
    border: none;
    margin-right: 10px;
    background-image: url(Imagenes/Italia.png);
    height: 150px;
    width: 150px;
}
.boton_1_1_5{
    background-color: #fff;
    color: grey;
    border: none;
    margin-right: 10px;
    background-image: url(Imagenes/Portugal.png);
    height: 150px;
    width: 150px;
}
.boton_1_1_6{
    background-color: #fff;
    color: grey;
    border: none;
    margin-right: 10px;
    background-image: url(Imagenes/Catalunia.png);
    height: 150px;
    width: 150px;
}
.boton_1_1_7{
    background-color: #fff;
    color: grey;
    border: none;
    margin-right: 10px;
    background-image: url(Imagenes/Rusia.png);
    height: 150px;
    width: 150px;
}
.boton_1_1_8{
    background-color: #fff;
    color: grey;
    border: none;
    margin-right: 10px;
    background-image: url(Imagenes/Suecia.png);
    height: 150px;
    width: 150px;
}

.boton_1:hover{
    background-color: #ebebeb;
}

.boton_2:hover {
    background-color: rgb(206, 206, 255);
}

.boton_3:hover{
    background-color: #e6e6e6;
}

.boton_1_1_1:hover{
    background-color: #fff;
}
.boton_1_1_2:hover{
    background-color: #fff;
}
.boton_1_1_3:hover{
    background-color: #fff;
}
.boton_1_1_4:hover{
    background-color: #fff;
}
.boton_1_1_5:hover{
    background-color: #fff;
}
.boton_1_1_6:hover{
    background-color: #fff;
}
.boton_1_1_7:hover{
    background-color: #fff;
}
.boton_1_1_8:hover{
    background-color: #fff;
}

.zona2{
    padding: 50px;
    text-align: left;
}


.zona3{
    padding: 50px;
    text-align: right;
}

.zona4{
    padding: 50px;
    text-align: left;
}

.zona5{
    padding: 50px;
    text-align: center;
    background-color: rgb(181, 181, 255);
}

.imagen-boton1{
    width: 100px;
    height: 100px;
    margin-right: 120px;
}

.imagen-boton2{
    width: 100px;
    height: 100px;
}

.zona6{
    padding: 50px;
    text-align: center;
    background-color: blue;
}

.zona6 h3{
    color: #fff;
    margin-right: 25px;
}

.zona6 h1{
    color: aquamarine;
}

.zona7{
    padding: 50px;
    text-align: right;
}

.zona8{
    padding: 50px;
    text-align: left;
}

.zona9{
    padding: 50px;
    text-align: right;
}

.zona10{
    padding: 50px;
    text-align: left;
}

.zona11{
    text-align: center;
    background-color: greenyellow;
}

.pie1{
    padding: 50px;
    color: grey;
    background-color: greenyellow;
    display: flex;
}

.pie2{
    padding: 50px;
    background-color: greenyellow;
}

.pie2 p{
    color: grey;
    word-spacing: 30px;
}

.titulo_pie{
    color: #fff;
}
